
<div class="container-fluid" >
<br />

<div class="card" >
  <h5 class="card-header"> HTML and Javascript Injection </h5>
  <div class="card-body">

    <div>
    <h6 class="card-subtitle mb-2 text-muted">Default Render</h6>  
      <span class="badge badge-primary" > {{raw}}
      </span> -> <span class="badge badge-success"> Safe </span>

      <div>
        {{msg}}
      </div>
    </div>

    <hr />

    <div>
        <h6 class="card-subtitle mb-2 text-muted">Default innerHTML Render</h6>  
      <span class="badge badge-primary" >  [innerHTML]="msg"
      </span> -> <span class="badge badge-success"> Safe </span>

      <div [innerHTML]="msg"></div>

    </div>

    <hr>
    <div>
        <h6 class="card-subtitle mb-2 text-muted">Unsafe innerHTML Render</h6>  
      <span class="badge badge-primary" >  [innerHTML]="msg | sanitizeHtml"
      </span> -> <span class="badge badge-danger"> Unsafe </span>

      <div>
        <span [innerHTML]="msg | sanitizeHtml"></span>
    </div>

    </div>



  </div>

</div>

<br />

<div class="card" >
<h6 class="card-subtitle mb-2 text-muted">Default Attribute Render</h6>  

  <h5 class="card-header"> Attribute and Event Injection </h5>
  <div class="card-body">

    <div>
      <span class="badge badge-primary" > href={{url}}
      </span> -> <span class="badge badge-success"> Safe </span>

      <div>
        <a class="badge badge-secondary" href={{url}}>clickme</a>
      </div>
    </div>

    <hr>

    <div>
<h6 class="card-subtitle mb-2 text-muted">Default Event Render</h6>  

      <span class="badge badge-primary" > onclick={{evt}}
      </span> -> <span class="badge badge-success"> Safe </span>

      <div>
        <a class="badge badge-secondary" href="#" (click)="onClick()">clickme</a>
      </div>
  </div>

</div>




</div>



